<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Panel glowny</title>

    <base href="/" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div class="body_container">
      <div class="header" th:fragment="header(title = ${title})">
        <p th:text="${title}"></p>

        <div class="right">
          <div th:if="${isAdmin}">
            <a class="button_mainPage" th:href="@{/}">Strona główna</a>
            <a class="button_users" th:href="@{/users}">Wszyscy użytkownicy</a>
            <a class="button_tasks" th:href="@{/tasks}">Wszystkie Zadania</a>
            <a class="button_tasks" th:href="@{'/tasks/' + ${userId}}"
              >Moje zadania</a
            >
          </div>

          <div th:if="!${isAdmin}">
            <a class="button_mainPage" th:href="@{/}">Strona główna</a>
            <a class="button_users" th:href="@{/users}">Wszyscy użytkownicy</a>
            <a class="button_tasks" th:href="@{'/tasks/' + ${userId}}"
              >Moje zadania</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
